<nav class="navbar">
  <ul>
    <li><a routerLink="/sgt"
           routerLinkActive="activebutton"
           ariaCurrentWhenActive="page">Página inicial</a></li>
    <li><a routerLink="/cadastrartarefa"
           routerLinkActive="activebutton"
           ariaCurrentWhenActive="page">Cadastrar Tarefa</a></li>
    <li><a routerLink="/gerenciartarefa"
           routerLinkActive="activebutton"
           ariaCurrentWhenActive="page">Gerenciar Tarefa</a></li>
  </ul>
</nav>
<section>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</section>


